/* EditRoom.css */

/* Edit Room Heading */
h2 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  /* Edit Room Input Fields */
  input[type="number"], select {
    border: 1px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
  }
  
  button {
    background-color: #007bff;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  